Source: ZiniTevi
Section: Movie Apps
Maintainer: ZiniTevi
Version: 1.2.2
Homepage: https://zinitevi.github.io/movieapps/
Package: com.zini.jb
Name: ZiniTevi
Architecture: iphoneos-arm
Author: ZiniTevi
Description: Stream movies & series for Jailbreak
